@charset "UTF-8";
body {
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6em;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.button {
  display: inline-block;
  background: #3498DB;
  border: 1px solid transparent;
  border-radius: 100px;
  margin: 0 0 48px;
  padding: 12px 24px;
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.button:hover {
  background: transparent;
  border: 1px solid #3498DB;
  color: #3498DB;
}

.FontAwesome, .logo .icon:before, .hero .video .overlay:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
}

.column {
  width: 100%;
}

header {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.fixed-header header {
  background: #FFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
header .nav {
  padding: 3px 0;
  text-align: right;
}
header .nav li {
  display: inline-block;
  margin: 0 8px 0 0;
}
header .nav li:last-child {
  margin: 0;
}
header .nav li:last-child a {
  border: 1px solid #3498DB;
  color: #3498DB;
}
header .nav li:last-child a:hover {
  background: #3498DB;
  color: #FFF;
}
header .nav a {
  display: block;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 12px 24px;
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
header .nav a:hover {
  background: #FFF;
  color: #34495E;
}
.fixed-header header .nav a {
  color: #333;
}

.logo .icon {
  display: inline-block;
  background: #FFF;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  margin: 0 12px 0 0;
  color: #34495E;
  line-height: 54px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.fixed-header .logo .icon {
  background: #3498DB;
  color: #FFF;
}
.logo .icon:before {
  /*content: '';*/
  background-image: url("../docpre.png");
}
.logo div {
  display: inline-block;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  vertical-align: middle;
  color: #FFF;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.fixed-header .logo div {
  color: #666;
}
.logo div span {
  display: block;
  padding: 4px 0 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.logo div span i {
  margin: 0 4px;
}

.logo div span a {
  color: #3793E6;
  text-decoration: none;
}

section .container {
  max-width: 960px;
}
section h2 {
  margin: 0 0 48px;
  color: #333;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
section h5 {
  margin: 0 0 4px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
section p {
  text-align: center;
}

.hero {
  background: #34495E;
  height: 800px;
  padding: 160px 0 0;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
}
.hero h1 {
  margin: 0 0 24px;
  color: inherit;
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
}
.hero p {
  max-width: 760px;
  margin: 0 auto 48px;
  padding: 0 48px;
  box-sizing: border-box;
  color: inherit;
}
.hero .video {
  position: relative;
  background: #FFF;
  height: 540px;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.hero .video .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  width: 100%;
  height: 100%;
  color: #3498DB;
  font-size: 48px;
}
.hero .video .overlay:before {
  cursor: pointer;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  margin: auto;
}
.hero .video iframe {
  width: 100% !important;
  height: 100% !important;
}

.showcase {
  padding: 200px 0 48px;
}
.showcase .tabs {
  width: 100%;
}
.showcase .tab-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.showcase .tab-nav li {
  display: block;
}
.showcase .tab-nav a {
  display: block;
  padding: 12px 0;
  border-bottom: 2px solid transparent;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.showcase .tab-nav a.active {
  border-color: #3498DB;
  color: #3498DB;
  font-weight: 700;
}

.tab-content {
  padding: 48px 0;
}
.tab-content h3 {
  margin: 0 0 12px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.tab-content p {
  color: #999;
  text-align: left;
}
.tab-content img {
  display: block;
  width: 100%;
}
.tab-content .row {
  display: table;
}
.tab-content .row .column {
  display: table-cell;
  width: 60%;
  padding: 0 0 0 24px;
  vertical-align: middle;
}
.tab-content .row .column:first-child {
  width: 40%;
  padding: 0;
}

.features,
.abtest,
.responsive {
  background: #FFF;
  padding: 96px 0;
}
.features h2,
.abtest h2,
.responsive h2 {
  margin: 0 0 24px;
}
.features h5,
.abtest h5,
.responsive h5 {
  margin: 0 0 48px;
}
.features p,
.abtest p,
.responsive p {
  color: #999;
  margin: 0 0 48px;
  text-align: center;
  text-transform: initial;
}
.features img,
.abtest img,
.responsive img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.abtest {
  background: transparent;
}

.repos {
  background: #34495E;
  padding: 96px 0 240px;
}
.repos h2,
.repos p {
  color: #FFF;
  text-align: center;
}

.seamless {
  padding: 96px 0;
}
.seamless p {
  margin: 0 0 48px;
  color: #666;
}
.seamless .bloggers {
  margin: 24px 0 0;
}
.seamless .bloggers .column {
  padding: 0 12px;
}
.seamless .bloggers img {
  width: 100%;
}

.cta {
  background: #34495E;
  padding: 96px 0;
  color: #FFF;
  text-align: center;
}
.cta h2 {
  color: inherit;
  font-size: 30px;
  line-height: 1.6em;
}

.footer {
  background: #22303d;
  padding: 24px 0;
  color: #FFF;
  text-align: center;
}
